@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #00D9E7;
  --secondary-color: #56E39F;
  --tertiary-color: rgba(4, 110, 143, 0.2);
  --background-color: rgba(137, 171, 245, 0.5);
  --white: #FFF;
  --grey: #A4B2BC;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.placeholder-text-xl::placeholder {
  @apply text-xl;
}

.react-player video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}